.member-card {
  overflow: hidden;
  box-shadow: 0 4px 25px #e1e5ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  width: 12rem;
  height: 6rem;
}

.member-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem 0rem;
}

.member__image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 2px solid #fff;
}

.member-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__title {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 24px;
}

.member-card:hover {
  transform: scale(1.02);
  background-color: rgb(62,62,63);
  transition: 0.3s;
  border-radius: 10px;
  color: #fff;
}
